apache-airflow==2.9.0
pyspark==4.1.1
psycopg2-binary==2.9.9
python-dotenv==1.2.2
boto3==1.34.51
geopandas==1.1.3
shapely==2.0.3
pandas==2.1.4
dbt-core==1.11.10
dbt-postgres==1.10.0
opentelemetry-sdk==1.41.1
opentelemetry-exporter-otlp-proto-http==1.41.1
